<%- include('header') %>
    
    <div class="container">
        <div class="row">
            <h1><%= title %></h1>
            <br>
         <table class="table table-striped table-primary">
          <% if(type == 'success'){ %>
            <% if( msg != ''){ %>
            <p class="alert alert-success" style="text-align: center" role="alert"> <strong>  <%= msg %></strong></p>
            <% }} %>
            <% if( type == 'fail'){ %>
                <% if( msg != ''){ %>
                <p class="alert alert-danger" style="text-align: center" role="alert"> <strong> <%= msg %></strong></p>
                <% }} %>
          <thead>
            <tr>
              <th>Password Category Name</th>
              <th>Universal Icon</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% if(records.length >0){
             records.forEach(function(row){
             %>
             <tr>
               <td><%= row.password_category %></td>
               <td><a><i class="fa-brands fa-<%= row.password_category %>"></i></a>
                              
              </td>
               
               <td><a class="btn btn-primary btn-xs" href="/passwordCategory/edit/<%= row._id %>"><i class="fa-solid fa-file-pen"></i></a>
                 <a class="btn btn-danger btn-xs" href="/passwordCategory/delete/<%= row._id %>"><i class="fa-solid fa-trash-can"></i></a>
               </td>
             </tr>
             <%  }) } %>
           </tbody>
        </table>

        <% if (pages > 0) { %>
          <ul class="pagination text-center">
              <% if (current == 1) { %>
                  <li class="disabled"><a>First</a></li>
              <% } else { %>
                  <li><a href="/passwordCategory/1">First</a></li>
              <% } %>
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                  <li class="disabled"><a>...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                  <% if (i == current) { %>
                      <li class="active"><a><%= i %></a></li>
                  <% } else { %>
                      <li><a href="/passwordCategory/<%= i %>"><%= i %></a></li>
                  <% } %>
                  <% if (i == Number(current) + 4 && i < pages) { %>
                      <li class="disabled"><a>...</a></li>
                  <% } %>
              <% } %>
              <% if (current == pages) { %>
                  <li class="disabled"><a>Last</a></li>
              <% } else { %>
                  <li><a href="/passwordCategory/<%= pages %>">Last</a></li>
              <% } %>
          </ul>
      <% } %>

      </div>
    </div>

  <%- include('footer') %>
